<% provide(:title, 'About') %>
<h1> About Page </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut commodo nunc. Vivamus risus urna, pulvinar eget congue eu, iaculis adipiscing leo. Maecenas semper semper dui at viverra. Suspendisse tempus dictum turpis eu tincidunt. Vestibulum convallis pretium lacus eu hendrerit. Nullam venenatis auctor imperdiet. Morbi tempus est dui, eget tristique lorem molestie nec.</p>

<p>Morbi elit sem, ultrices id imperdiet et, laoreet et massa. Donec lobortis gravida erat eget porttitor. Phasellus a egestas nisl. Morbi mi arcu, tristique ut luctus id, vehicula quis dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque ac mauris et felis interdum consequat id eget leo. Nam lectus dolor, hendrerit quis suscipit quis, vehicula id velit. Maecenas pellentesque bibendum orci, vel fermentum felis fermentum sit amet. Nam ac posuere nunc, vitae dictum nulla.</p>

